@import "../../global.scss";

.skills {
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 24px;
    margin: 60px 0;
    overflow: hidden;
}

.skill {
    display: flex;
    height: 55%;
    justify-content: space-evenly;
    padding: 16px;
    max-width: 1024px;
    margin-inline: auto;
}

@media screen and (min-width: 600px) {
    .skill {
        grid-template-columns: repeat( 3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .skill {
        grid-template-columns: 1fr;
    }
}

.set {
    background-color: $white;
    height: 70%;
    padding: 30px;
    border-radius: 16px;
    transition: all .5s ease;
    margin-right: 50px;
    overflow: hidden;
}

.set:hover {
    box-shadow: 0px 12px 16px $secondary;
    transform: scale(.95);
}

.set span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: $primaryDark;
    color: white;
    border-radius: 35%;
    margin-inline: auto;
}

.set > header {
    padding-block: 24px;
    font-size: 24px;
    color: $secondary;
    text-align: center;
    text-transform: capitalize;
}

.list {
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    color:rgb(87, 85, 85);
    text-transform: uppercase;
}

.list:hover {
    color: $primary;
}

@media screen and (max-width: 480px) {

    .title {
        display: none;
    }

    .skill {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 90%;
    }

    .set {
        padding: 5px 10px;
        margin: 5px 0;
        width: 70%;
    }

    .set span {
        width: 1.875em;
        height: 1.875em;
        font-size: 1.25em;
    }

    .set > header {
        font-size: 1em;
        margin: 0;
        padding: 5px;
    }

    .list {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .title {
        // display: none;
        padding: 0;
        margin: 20px;
    }

    .skill {
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 100%;
        margin: 0 5px;
    }

    .set {
        padding: 5px 5px;
        margin: 5px 20px;
        width: 100%;
    }

    .set span {
        width: 1.875em;
        height: 1.875em;
        font-size: 1.25em;
    }

    .set > header {
        font-size: .75em;
        margin: 0;
        padding: 5px;
    }

    .list {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 919px) and (min-width: 769px) {
    .skill {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .set {
        width: 100%;
        margin: 5px 10px;
    }

    .set span {
        font-size: 1.5em;
        width: 2em;
        height: 2em;
    }

    .set > header {
        font-size: 1.25em;
    }

    .list {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) and (min-width: 920px){
    .skill {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 60%;
    }

    .set {
        width: 100%;
        margin: 5px 10px;
    }

    .set span {
        font-size: 2em;
        width: 2em;
        height: 2em;
    }

    .set > header {
        font-size: 1.5em;
    }

    .list {
        font-size: 1.25em;
    }
}