@import "../../global.scss";

.about {
    display: flex;
    align-items: center;
    background-color: $backgroundColor;
}

.about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.about-right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.about-card-bg {
    position: absolute;
    height: 70vh;
    width: 60%;
    border-radius: 30px;
    overflow: hidden;
    top: 130px;
    left: 70px;
    background-color: $secondary;
}

.about-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    top: 80px;
    position: relative;
    overflow: hidden;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title {
    font-weight: 600;
    font-size: 70px;
}

.about-sub {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 25px;
}

.about-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 2em;
}

@media screen and (max-width: 480px){
    .about {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    .about-left {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .about-card-bg {
        display: none;
    }

    .about-card {
        height: 30vh;
        position: absolute;
        top: 40px;
    }

    .about-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .about-right {
        position: absolute;
        top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-title {
        display: none;
    }

    .about-sub {
        font-size: 1em;
        margin: 10px 0;
    }

    .about-desc {
        font-size: .8em;
    }
    
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .about-card-bg {
        height: 40vh;
        width: 70%;
        left: 20px;
    }

    .about-card {
        height: 40vh;
        left: 10px;
        top: -20px;
        width: 70%;
    }

    .about-title {
        font-size: 2.75em;
    }

    .about-sub {
        font-size: 1.25em;
    }

    .about-desc {
        font-size: .75em;
    }
}

@media screen and (max-width: 919px) and (min-width: 769px) {
    .about-card-bg {
        height: 50vh;
        width: 70%;
        left: 20px;
    }

    .about-card {
        height: 50vh;
        left: 20px;
        top: 20px;
        width: 70%;
    }

    .about-title {
        font-size: 3em;
    }

    .about-sub {
        font-size: 1.5em;
    }

    .about-desc {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) and (min-width: 920px){
    .about-card-bg {
        height: 60vh;
        width: 70%;
        left: 20px;
    }

    .about-card {
        height: 60vh;
        top: 50px;
        width: 70%;
    }

    .about-title {
        font-size: 3.15em;
    }

    .about-sub {
        font-size: 1.6em;
    }

    .about-desc {
        font-size: 1em;
    }
}

@media screen and (max-width: 1305px) and (min-width: 1025px){
    .about-card-bg {
        height: 60vh;
        width: 70%;
        left: 20px;
    }

    .about-card {
        height: 60vh;
        top: 50px;
        width: 70%;
    }

    .about-title {
        font-size: 3.15em;
    }

    .about-sub {
        font-size: 1.6em;
    }

    .about-desc {
        font-size: 1em;
    }
}