@import "../../global.scss";

.works {
    background-color: $primaryDark;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        &.left {
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right {
            right: 100px;
        }
    }

    .slider {
        height: 450px;
        display: flex;
        position: absolute;
        left: 0;
        overflow: hidden;
        transition: all 2s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: $backgroundColor;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: $primary;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 25px;
                            }
                        }

                        h2 {
                            font-size: 25px;
                        }

                        p {
                            font-size: 15px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    img {
                        width: 400px;
                        height: 400px;
                        transform: rotate(-5deg);
                        overflow: hidden;
                    }
                }
            }
        }
    }
}