@import "../../global.scss";

.works {
    background-color: $primaryDark;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        &.left {
            left: 5%;
            transform: rotateY(180deg);
        }

        &.right {
            right: 5%;
        }
    }

    .slider {
        height: 450px;
        display: flex;
        position: absolute;
        left: 0;
        overflow: hidden;
        transition: all .8s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: $backgroundColor;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    flex: 4;
                    height: 95%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    .leftContainer {
                        width: 90%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer {
                            position: absolute;
                            top: 0;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: $primary;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 25px;
                            }
                        }

                        h2 {
                            font-size: 25px;
                        }

                        a {
                            font-size: 15px;
                            background-color: $primaryDark;
                            color: $white;
                            text-decoration: none;
                            font-weight: 500;
                            width: 50%;
                            text-align: center;
                            margin-top: 2px;
                            padding: 10px 5px;
                            border-radius: 5px;
                            transition: all 0.8s ease;

                            &:hover{
                                background-color: $primary;
                                color: $secondary;
                                transform: scale(0.9);
                            }
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    position: relative;
                    border-left: 10px solid $primaryDark;

                    img {
                        position: absolute;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .works {

        .arrow {
            height: 30px;

            &.left {
                top: 50px;
                left: 45%;
            }

            &.right {
                bottom: 50px;
                left: 45%;
            }
        }

        .slider {
            height: 400px;

            .container{

                .item {
                    width: 90%;

                    .left {
                        height: 100%;
                        flex: 6;

                        .leftContainer {
                            
                            .imgContainer {
                                top: 5px;
                                width: 20px;
                                height: 20px;
                                margin: 5px;

                                img {
                                    width: 12px;
                                }
                            }

                            h2 {
                                font-size: 1em;
                            }

                            p {
                                font-size: .75em;
                            }

                            a {
                                font-size: .5em;
                                padding: 7px 4px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .works {

        .arrow {
            height: 40px;

            &.left {
                top: 50px;
                left: 45%;
            }

            &.right {
                bottom: 50px;
                left: 45%;
            }
        }

        .slider {
            height: 400px;

            .container{

                .item {
                    width: 90%;

                    .left {
                        height: 100%;
                        flex: 6;

                        .leftContainer {
                            
                            .imgContainer {
                                top: 5px;
                                width: 20px;
                                height: 20px;
                                margin: 5px;

                                img {
                                    width: 12px;
                                }
                            }

                            h2 {
                                font-size: 1.25em;
                            }

                            p {
                                font-size: .9em;
                            }

                            a {
                                font-size: .7em;
                                padding: 8px 4px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 919px) and (min-width: 769px){
    .works {
        .arrow {

            &.left {
                left: 3%;
            }

            &.right {
                right: 3%
            }
        }

        .slider {

            .container {

                .item {
                    width: 75%;

                    .left {

                        .leftContainer {

                            .imgContainer {
                                width: 30px;
                                height: 30px;
                                margin: 5px;

                                img {
                                    width: 20px;
                                }
                            }

                            h2 {
                                font-size: 1.5em;
                            }

                            p {
                                font-size: .95em;
                            }

                            a {
                                font-size: .8em;
                                padding: 9px 5px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 920px){
    .works {
        .arrow {

            &.left {
                left: 3%;
            }

            &.right {
                right: 3%
            }
        }

        .slider {

            .container {

                .item {
                    width: 75%;

                    .left {

                        .leftContainer {

                            .imgContainer {
                                width: 35px;
                                height: 35px;
                                margin: 5px;

                                img {
                                    width: 25px;
                                }
                            }

                            h2 {
                                font-size: 1.5em;
                            }

                            p {
                                font-size: 1em;
                            }

                            a {
                                font-size: .9em;
                                padding: 9px 5px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}