@import "../../global.scss";

.intro {
    display: flex;
    background-color: $backgroundColor;
}

.intro-left {
    flex: 1;
}

.intro-right {
    flex: 1;
    position: relative;
}

.intro-left-wrapper {
    padding: 50px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 2.1875em;
    font-weight: 400;
}

.i-name {
    font-size: 3.125em;
}

.i-title {
    display: inline-flex;
}

.static-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.static-text span {
    font-size: 2.5em;
    font-weight: 400;
}

.i-title-wrapper {
    padding: 0;
    margin-left: 20px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.i-title-wrapper li{
    list-style: none;
    font-size: 3.4375em;
    font-weight: 500;
    position: relative;
    top: 0;
    color: $primary;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -360px;
    }
}

.i-title-wrapper li span {
    position: relative;
}

.i-title-wrapper li span::after {
    content: "";
    position: absolute;
    padding: 5px;
    left: 0;
    height: 105%;
    width: 100%;
    background: $backgroundColor;
    border-left: 2px solid $primaryDark;
    animation: typing 1.5s steps(15) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.i-img {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    object-fit: cover;
}

.i-bg {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: $primary;
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 0;
    right: 0;
}

.i-desc-wrapper .i-desc {
    font-size: 1.5625em;
    font-weight: 300;
    line-height: 40px;
}

@media screen and (max-width: 1305px) and (min-width: 1025px){
    .i-intro{
        font-size: 1.5625em;
        font-weight: 400;
    }

    .i-name {
        font-size: 1.875em;
    }

    .static-text span {
        font-size: 1.5625em;
    }

    .i-title-wrapper li {
        font-size: 2.1875em;
        font-weight: 400;
    }

    .i-title-wrapper li span::after {
        bottom: 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 920px){
    .i-intro {
        font-size: 1.25em;
    }

    .i-name {
        font-size: 1.875em;
    }

    .static-text span {
        font-size: 1.25em;
    }

    .i-title-wrapper li {
        font-size: 1.875em;
    }

    .i-title-wrapper li span::after {
        bottom: 0;
    }

    .i-desc-wrapper .i-desc {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 919px) and (min-width: 769px){
    .i-intro{
        font-size: 1em;
    }

    .i-name {
        font-size: 1.5em;
    }

    .static-text span {
        font-size: 1em;
    }

    .i-title-wrapper li {
        font-size: 1.5em;
    }

    .i-title-wrapper li span::after {
        bottom: 0;
    }

    .i-desc-wrapper .i-desc {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .i-intro{
        font-size: 1em;
    }

    .i-name {
        font-size: 1em;
    }

    .static-text span {
        font-size: .8em;
    }

    .i-title-wrapper li {
        font-size: .78em;
    }

    .i-title-wrapper li span::after {
        bottom: 0;
    }

    .i-desc-wrapper .i-desc {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro-left-wrapper {
        overflow-y: hidden;
    }

    .i-intro{
        display: none;
    }

    .i-name{
        font-size: .8em;
    }

    .static-text span {
        display: none;
    }

    .i-title {
        overflow: hidden;
    }

    .i-title-wrapper li {
        font-size: .7em;
    }

    .i-title-wrapper li span::after {
        bottom: 0;
        height: 100%;
    }

    .i-desc-wrapper {
        overflow: hidden;
    }

    .i-desc-wrapper .i-desc {
        font-size: .65em;
        height: 100%;
        overflow: hidden;
    }

    .i-bg {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .i-img {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}